.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  padding: 60px 638px;
  width: 104px;
  height: 16px;
  margin: 0;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  white-space: nowrap;
}

@media screen and (max-width: 627px) {
  .footer__copyright {
    padding: 60px 108px;
  }
}
