.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: center / contain no-repeat url(../images/close.svg);
  border-style: none;
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}

.modal__error {
  color: rgba(255, 0, 0, 0.7);
  display: block;
  font-size: 16px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: #fcf5e5;
  font-weight: 500;
  line-height: 1;
  border: none;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  margin: 8px 0 0 0;
  padding: 4px 8px;
  max-width: 214px;
  max-height: 32px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  border-radius: 8px;
  background: center / contain no-repeat rgba(33, 33, 33, 1);
  display: block;
  text-align: center;
  width: fit-content;
}

.modal__container-delete {
  width: 630px;
  padding: 32px;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/close-preview.svg);
  opacity: 1;
}

.modal__title-delete {
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.modal__form-delete {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.modal__form-delete button {
  padding: 18px 52px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal__submit-btn-delete {
  background-color: rgba(255, 101, 101, 1);
  color: rgba(33, 33, 33, 1);
  border: none;
}

.modal__submit-btn-cancel {
  color: rgba(33, 33, 33, 1);
  background-color: #fff;
  border: 1;
}

.modal__input-error_active {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn_inactive {
  pointer-events: none;
  background-color: rgba(33, 33, 33, 0.5);
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__close-btn_type_preview:hover {
  opacity: 40%;
  cursor: pointer;
}

.modal__input:hover {
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__submit-btn:hover {
  cursor: pointer;
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__submit-btn-delete:hover {
  background-color: #e6362c;
}

.modal__submit-btn-cancel:hover {
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin-bottom: 34px;
    margin-top: 10px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__container-delete {
    width: 300px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal__form-delete {
    flex-direction: column;
  }

  .modal__title-delete {
    line-height: 1.2;
    width: 276px;
    text-align: center;
  }

  .modal__close-btn_type_preview {
    top: -48px;
    right: 0px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    max-width: 175px;
    max-height: 27px;
    font-size: 16px;
  }
}
